doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en-US', lang='en-US')
  head
    
    title MinoDB
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    
    link(rel='stylesheet', href='#{path}Style/style.css', type='text/css')
    
  body
    #{path}

    - if (page_data.production)
        script.
          var production = true;
    - else
        script.
          var production = false;

    script(type='text/javascript', src='#{path}frontend.js')