<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui'/>
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
		<link rel="stylesheet" href="{{&ui_path}}/style.css" type="text/css" />
		<script type="text/javascript"> 
			var ui_path = "{{&ui_path}}";
			var user = {{&user}};
		</script>
		<script src="{{&ui_path}}/frontend.js"></script>
		<script type="text/javascript">
			var custom_fields = {{&custom_fields}}

			for(var i in custom_fields){
				var field_data = custom_fields[i];
				console.log(field_data);
				var script = $("<script />").html(field_data.string).appendTo("head");

				ValidationRule.RuleField.add_field_type(field_data);
			}
		</script>
	</head>
<body>

	<noscript>
	This site requires Javascript
	</noscript>
</body>
</html>