@import "colors.subless";

@import "../fieldval_themes/mino_theme.subless";

body{
	margin: 0px;
	background-color: @background_color;
	font-family: Arial, Helmet, Freesans, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 18px;
}

input,textarea{
	.bold;
	outline: none;
}

.bold{
	font-weight: bold;
}

.semibold{
	font-weight: bold;
}

.no_select{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.mino_button{
	
	
	&.active{

	}
}

.center_holder{
	max-width: 480px;
	margin-left: 50%;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.center{
	position: relative;
	top:0px;
	left:-100%;
	width: 200%;
	overflow-x: hidden;
}

@import "../common_elements/common_elements.subless";
@import "../pages/pages.subless";

@import "../pages/DocsPage/SideMenu/SideMenu.subless";